//silence
.wpt-wrap {
    .notice {
        display: none;
    }

    .container {
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;

        .title {
            h1 {
                font-weight: bold;
            }
        }

        .content {
            margin-top: 10px;
        }
    }
}
